*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container2{
    width: 1040px;
    height: 730px;
    top: 934px;
    gap: 0px;
    opacity: 0px;
    background: #000000;
    
    
}
.block2{
text-align: center;
color: white;
top: 45px;
}   
hr{
    margin-left: 460px;
    border: 1px solid white;
    margin-right: 480px;
}
.container3{
    width: 260px;
    height: 325px;
    top: 1166px;
    left: 72px;
    gap: 0px;
    opacity: 0px;
    border: 3px solid red;
    background-color: red;
    margin-top: 100px   ;
    
}